#nav-signup-btn{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 214);
    font-size: 16px;
    margin-top: 10px;
    border-radius: 7px;
    border: none;
    color:white;
}

#nav-signup-btn:hover{
    color: #008080;
    text-align: center;
    text-decoration: none;
    font-weight: medium;
    font-size: medium;
    border: 0;
    box-shadow: none;
    cursor: pointer;
}
