.comments-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}

#comments-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
}

.wc-button{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    margin:10px;
    color:white;
}


.wc-button:hover{
    color: #008080;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
    margin:10px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.the-comment{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    color:white;
}

.the-comment-username{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


.commentsDiv{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.edit-button{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    color:white;
    margin-left: 10px;
}

.edit-button:hover{
    color: #008080;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
}

.delete-button{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    color:white;
}

.delete-button:hover{
    color: #008080;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
}


ul {
    padding: 0px;
}

.clear{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 214);
    font-size: 16px;
    border-radius: 7px;
    border: none;
    color:white
}

.clear:hover{
    color: #008080;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
}

.ic-field {
    font-size: 16px;
    height:50px;
    border: none;
    resize: none;
    outline: none;
}
