.delete-btn:hover {
    cursor: pointer;
    background-color: #3d386b;
}

.edit-btn:hover {
    cursor: pointer;
    background-color: #3d386b;
}

.delete-btn {
    background-color: teal;
    height:25px;
    width:100px;
    border-radius: 8px;
    padding: 4px 12px;
    color: white;
    border: none;
}

.edit-btn {
    background-color: teal;
    height:25px;
    width:100px;
    border-radius: 8px;
    padding: 4px 12px;
    color: white;
    border: none;
}
