.story-form-container,
.story-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5%;
}

.story-form {
    background-color: rgba(77, 77, 77, 0.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 13px;
    background-color: rgb(0, 135, 214);
    border-radius: 8px;
}

.story-form,
.sf-input,
.sf-content {
    margin-top: 15px;
    font-size: x-large;
}

.ws-button {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 135, 214);
    font-size: 16px;
    border-radius: 7px;
    width: 100px;
    height: 30px;
    border: none;
    margin: 10px;
    color: white;
}

.ws-button:hover {
    color: #008080;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
}


.ws-errors {
    color: red;
    margin: 10px;
}

.ws-title {
    color: white;
}
