#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#modal-content {
  position: absolute;
  background:linear-gradient(#43cea2 , #185a9d);
  width: 30%;
  height: fit-content;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

#modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: small;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
