#footer-container {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 3%;
}
.footer {
    /* position: absolute; */
    bottom: 0px;
    height: 160px;
    width: 100%;
    padding: 30px 30px;
    /* border-top: 1px solid rgb(190, 190, 190); */
    background:blue;
    color: white;
    font-weight: 300;
    margin-top: 40px;
  }

#name {
    /* margin-top: 20px; */
    color: white;
    font-weight: bold;
}


.techs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(190, 190, 190);
    font-size: 20px;
    color:white;
  }

.links-logo {
    height: 30px;
    width: 30px;
    margin: 10px;
}

.links-logo:hover {
    transform: scale(1.5);
}
.my-details {
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white
  }
  .my-details > a {
    text-decoration: none;
    margin: 10px;
    color:white;
  }
  .my-details > a:hover {
    color: white;
    font-weight: bolder;
  }
