#footer-container {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  padding-bottom: 20px;
  margin-top: 3%;
}

.footer {
  /* position: absolute; */
  bottom: 0px;
  height: 50px;
  width: 100%;
  padding: 30px 30px;
  color: white;
  background-color: rgb(0, 0, 214);
  font-weight: 300;
  margin-top: 40px;
}

#name {
  /* margin-top: 20px; */
  color: white;
  font-weight: bold;
}


.techs {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(190, 190, 190);
  font-size: 20px;
  color: white;
}

.links-logo {
  height: 30px;
  width: 30px;
  margin: 10px;
}

.links-logo:hover {
  transform: scale(1.5);
}

.my-details {
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  color: white
}

.my-details>a {
  font-size: 40px;
  margin: 10px;
  color: white;
}
