#story-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 30px;
}

.title,
.subtitle,
.user-name {
  color: white;
  padding-top: 20px;
}

.user-name {
  padding-bottom: 20px;
}

#story-body {
  color: white;
}

.del-btn-2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  color:white;
  font-size: 16px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.del-btn-2:hover {
  color: #008080;
  text-align: center;
  background-color: transparent;
  text-decoration: none;
  font-size: medium;
  cursor: pointer;
}

.del-btn {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  font-size: 16px;
  border-radius: 7px;
  border: none;
}

.del-btn:hover {
  color: #008080;
  text-align: center;
  background-color: transparent;
  text-decoration: none;
  font-size: medium;
  cursor: pointer;
}


.edit-btn{
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  font-size: 16px;
  border-radius: 7px;
  border: none;
  margin:10px;
  color:white;
}

.edit-btn:hover{
  color: #008080;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  cursor: pointer;
  border:none;
}
