.nav {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
    font-size: 16px;
    max-width: 1800px;
    min-width: 90%;
    width: 90%;
    background-color: blue;
    font-size: 20px;
    z-index: 10;
  }
  .main-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
  }
  nav > a,
  .main-links > a,
  nav > span {
    color: #e5e7e6;
    text-decoration: none;
    padding: 5px;
    margin: auto;
    font-size: 16px;
  }
  nav > a:hover,
  .main-links > a:hover {
    color: white;
    font-weight: bolder;
  }
  .nav-btn {
    display: flex;
    flex-direction: row;
    background-color: #e5e7e6;
    border-radius: 20px;
    height: 45px;
    width: fit-content;
    margin: auto;
  }
.nav-btn > button {
    height: 45px;
    width: 80px;
    border-radius: 6px;
    background-color: #e5e7e6;
    border: none;
  }

  .nav-btn > button:hover {
    background-color: #b7b5b3;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 32px, rgb(0 0 0 / 10%) 0px 3px 8px !important;
    cursor: pointer;
  }

  .active {
    color: white;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
  }

  /* nav > button {
    height: 45px;
    width: 80px;
    border-radius: 40px;
    font-size: 28px;
    display: flex;
    align-items: center;
    border: #161712;
  } */

.account-btn {
    height: 45px;
    width: 80px;
    border-radius: 20px;
    color: #000;
    font-weight: bolder;
    background-color: #e5e7e6;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .account-btn:hover {
    background-color: #b7b5b3;
    color: #000;
    box-shadow: rgb(0 0 0 / 15%) 0px 16px 32px, rgb(0 0 0 / 10%) 0px 3px 8px !important;
  }
 .logo {
     color: white;

 }

 .logo > a:active {
    color: #e5e7e6;
    text-decoration: none;
    padding: 5px;
    margin: auto;
    font-size: 16px;
 }

  .logo-container {
    width: 50px;
    height: 50px;
    margin: auto;
  }

  .logo-container > a:active {
    text-decoration: none;
  }
  .account-drop-btn {
    height: 45px;
    width: 80px;
    font-size: 28px;
    border-radius: 20px;
    padding-left: 6px;
    color: white;
    font-weight: bolder;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
  }
  .account-drop-btn:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .drop-menu {
    position: absolute;
    top: 90px;
    right: 5.25%;
    border-radius: 8px;
    background-color: lightblue;
    box-shadow: 2px 2px 10px #161712;
    width: 150px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px;
  }
.account-link {
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    color: #161712;
}

.account-link:hover {
  cursor: pointer;
}

.account-link > button {
    border: none;
    background-color: inherit;
    font-size: inherit;
    width: 100%;
}

.account-link > a {
    color: blue;
}
  .fa-user-circle,
  .fa-bars {
    margin: 2px;
}
