

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 214);
    height: 100px;
    width: 100%;

}

#inBetween{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-buttons{
    padding-right: 50px;
}

#demo-btn{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 214);
    font-size: 16px;
    margin-top: 10px;
    border-radius: 7px;
    border: none;
    color:white;
}

#demo-btn:hover{
    text-align: center;
    text-decoration: none;
    color: #008080;
    font-weight: medium;
    cursor: pointer;
}

#home-link {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-left: 50px;
    font-size: 20px;
}

.fa-airbnb {
    padding-right: 5px;
    font-size: 35px;
}

#home-link:hover {
    text-decoration: none;
    color: #008080;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bolder; */
    padding-left: 50px;
    font-weight: bolder;
    transition-duration: 0.4s;
}

.home-link-pic {
    width:40px;
}
