#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 214);
    height: 100px;
    width: 100%;
}

#nav-buttons{
    margin:50px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#demo-btn{
    background-color: rgb(0, 0, 214);
    font-size: 16px;
    border: none;
    color:white;
}

#demo-btn:hover{
    color: #008080;
    cursor: pointer;
}

#home-link {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding-left: 50px;
    font-size: 20px;
}

.fa-airbnb {
    padding-right: 5px;
    font-size: 35px;
}

#home-link:hover {
    text-decoration: none;
    color: #008080;
    padding-left: 50px;
    font-weight: bolder;
    transition-duration: 0.4s;
}

.home-link-pic {
    width:40px;
}
