.story-link{
    list-style-type: none;
}

.fa-bars {
    color:white;
    font-size: 20px;
    cursor: pointer;
}

.fa-user {
    color:white;
    font-size: 20px;
    cursor: pointer;
    padding-left: 3px;
    padding-top: 10px;
}

.hamburger-icon {
    border:1px solid white;
    border-radius: 100%;
    height:40px;
    width:50px;
}

a.story-link{
    background-color: rgb(0, 135, 214);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    border: 0;
    box-shadow: none;
    border-radius: 8px;
    transition-duration: 0.4s;
}

a.story-link:hover{
    color: #008080;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    box-shadow: none;
}

.story-link-nav{
    margin:5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    font-size: 16px;
    border-radius: 7px;
    color:rgb(0, 0, 214);
}

a.story-link-nav:hover{
    color: #008080;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    border: 0;
    box-shadow: none;
}

#logout-btn{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    color:rgb(0, 0, 214);
    margin:5px;
}

#logout-btn:hover{
    color: #008080;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
}

.sc-button{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    margin:10px;
    color:white;
}

.sc-button:hover{
    color: #008080;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
    margin:10px;
}

.profile-dropdown{
    list-style-type: none;
    position: absolute;
    background-color: rgb(209, 242, 253);
    border-radius: 10px;
    width:120px;
    right:20px;
    box-shadow: 2px 2px 10px #161712;
}

.prof-list-item {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
